@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
  border-radius: 0.5rem;
}

.react-calendar__navigation button:disabled {
  cursor: not-allowed;
  background-color: rgba(oklch(var(--bc)), 0.3);
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: rgba(oklch(var(--bc)), 0.3);
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day--neighboringMonth,
.react-calendar__decade-view__years__year--neighboringDecade,
.react-calendar__century-view__decades__decade--neighboringCentury {
  color: oklch(var(--nc));
  opacity: 0.5;
}

.react-calendar__tile:disabled {
  background-color: rgba(oklch(var(--nc)), 0.3);
  color: oklch(var(--nc));
  opacity: 0.5;
  cursor: not-allowed;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: rgba(oklch(var(--bc)), 0.3);
}

.react-calendar {
  max-width: none;
  border-radius: 12px;
  background: oklch(var(--b1));
  border: 1px solid oklch(var(--b3));
  padding: 16px;
  width: 350px;
  line-height: 1.125em;
}

.react-calendar__viewContainer button:enabled:focus {
  background: oklch(var(--p));
}

.react-calendar button:enabled:hover:not(:focus) {
  background: oklch(var(--b2));
  cursor: pointer;
}

.react-calendar__navigation__label__labelText {
  display: inline-block;
}

.react-calendar__navigation__label__labelText:first-letter {
  text-transform: capitalize;
}

.react-calendar__month-view__days__day--weekend {
  color: oklch(var(--er));
}

.react-calendar__tile {
  border-radius: 8px;
  font-weight: 600;
  font-size: 0.875rem;
  transition: background 0.2s ease;
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
}

.react-calendar__tile--active {
  background: oklch(var(--p));
  color: oklch(var(--nc));
}

.react-calendar__tile--active:enabled:hover {
  background: rgba(oklch(var(--p)), 0.8);
}

.react-calendar__tile--active:enabled:focus {
  background: oklch(var(--p));
}

.react-calendar__tile--now {
  background: oklch(var(--a));
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 16px;
  text-transform: capitalize;
  font-weight: 600;
}
